@import "templates";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$darkLiver: #584b53;
$copperRose: #9d5c63;
$cryola: #d6e3f8;
$seashell: #fef5ef;
$sand: #e4bb97;
#app.dark {
  .help {
    color: #546a79;
  }
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: #584b53;
  min-height: 100vh;

  &.dark {
    //color: #e4c3ad;
    color: #dde6ff;

    .modal .overlay {
      background: rgba(7, 20, 31, .6);

      .popup {
        background: #0e212d;
      }
    }


    .status-change {
      background: #401b1b;

      li {
        display: block;
        padding: 12px;
        color: #d9d8d8;

        &:hover {
          background-color: #6d6d6d;
          color: white;
        }
      }
    }

    input, textarea {
      //background:$seashell;
      background: #0d202d;
      border: 1px #929292 solid;

      &:focus {
        border: 1px #999494 solid;
        color: #d2cfcf;
      }
    }

    h1, h2, h3 {
      color: #e4c3ad;
    }

    &.dark {
      background: #0d1f2d;
    }

    nav {
      background: #546a7b;
      box-shadow: 0 0 8px #2e4352;

      a {
        color: white;

        &.router-link-exact-active {
          background: #9ea3b0;
          color: #ffffff;
        }
      }

    }
  }

  p.comment {
    font-size: 18px;
  }

  h1, h2, h3 {
    color: #584b53;
  }

  h1 {
    padding: 0;
    margin: 32px 0 24px;
    font-size: 48px;
  }

  h2 {
    padding: 0;
    margin-bottom: 18px;
  }

  h3 {
    padding: 0;
    margin-bottom: 12px;
  }

  input, textarea {
    border: 1px #d8d4d7 solid;

    &:focus {
      outline: none;
      border-radius: 4px;
      border: 1px #e4bb97 solid;
    }
  }

  input {
    padding: 12px;
    width: 100%;
    margin: 0 0 12px;
    border-radius: 4px;
    font-size: 16px;
    color: #9d5c63;
    font-family: Avenir, Helvetica, Arial, sans-serif;
  }

  textarea {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    color: #9d5c63;
    width: 100%;
    word-break: break-word;
    min-width: 50%;
    resize: vertical;
    font-size: 16px;
    padding: 12px;
    line-height: 1.4;
    margin: 0 0 12px;
    border-radius: 4px;
  }

  nav {
    background: white;
    box-shadow: 0 0 9px #9a9a9a;
    //font-weight: bold;
    color: #2c3e50;
    z-index: 99999;

    position: sticky;
    top: 0;

    > div {
      max-width: 1340px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    a {
      color: $darkLiver;
      text-decoration: none;
      padding: 32px;
    }

    a.router-link-exact-active {
      //color: $seashell;
      background: #fef5ef;
      color: #e4bb97;;
    }


  }

  .nav {
    &__options, &__links {
      display: flex;
      align-content: center;
    }
  }

  .content {
    max-width: 1388px;
    margin: 12px auto 0;
    padding: 0 24px;
  }

  hr {
    border: 1px #eaeaea solid;
    appearance: none;
    margin: 24px 0;
    box-shadow: none;
  }

  .empty {
    color: #c14040;

    &::before {
      content: "<no info>";
    }
  }

  p.description {
    white-space: pre-wrap;

  }

}

// Animation

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s ease;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}
